
-- Enable RLS on the profiles table
ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;

-- Allow facilitators to see all profiles
CREATE POLICY "facilitator_select_all_profiles" ON public.profiles
  FOR SELECT
  TO authenticated
  USING (
    (get_my_claim('role'::text)) = '"facilitator"'::jsonb
  );

-- Allow facilitators to update any profile
CREATE POLICY "facilitator_update_any_profile" ON public.profiles
  FOR UPDATE
  TO authenticated
  USING (
    (get_my_claim('role'::text)) = '"facilitator"'::jsonb
  )
  WITH CHECK (
    (get_my_claim('role'::text)) = '"facilitator"'::jsonb
  );

-- Allow facilitators to insert new profiles
CREATE POLICY "facilitator_insert_profile" ON public.profiles
  FOR INSERT
  TO authenticated
  WITH CHECK (
    (get_my_claim('role'::text)) = '"facilitator"'::jsonb
  );

-- Allow facilitators to delete any profile
CREATE POLICY "facilitator_delete_any_profile" ON public.profiles
  FOR DELETE
  TO authenticated
  USING (
    (get_my_claim('role'::text)) = '"facilitator"'::jsonb
  );

