/* src/components/card.css */

.card-base {
  background-color: white;
  box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 2, 0.06);
  border-radius: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1; /* Allow card to take available space */
}
/* Dark mode styles for the card base */
@media (prefers-color-scheme: dark) {
  .card-base {
    background-color: #1f2937; /* dark:bg-gray-800 */
  }
}

.card-clickable {
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out; /* transition-shadow */
}

.card-clickable:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* hover:shadow-lg */
}

.card-title {
  font-size: 1.25rem; /* text-xl */
  line-height: 1.75rem; /* leading-7 */
  font-weight: 600; /* font-semibold */
  color: #111827; /* text-gray-900 */
}

/* Dark mode styles for title */
@media (prefers-color-scheme: dark) {
  .card-title {
    color: white; /* dark:text-white */
  }
}

.card-subtitle {
  /* Mimicking text-md text-gray-600 dark:text-gray-300 mb-2 */
  font-size: 1rem; /* text-md (default) */
  line-height: 1.5rem; /* leading-6 (default) */
  color: #4b5563; /* text-gray-600 */
  margin-bottom: 0.5rem; /* mb-2 */
}

/* Dark mode styles for subtitle */
@media (prefers-color-scheme: dark) {
  .card-subtitle {
    color: #d1d5db; /* dark:text-gray-300 */
  }
}

.card-description {
  /* Mimicking text-gray-700 dark:text-gray-400 text-sm mb-2 */
  font-size: 0.875rem; /* text-sm */
  line-height: 1.25rem; /* leading-5 */
  color: #374151; /* text-gray-700 */
  margin-bottom: 0.5rem; /* mb-2 */
}

/* Dark mode styles for description */
@media (prefers-color-scheme: dark) {
  .card-description {
    color: #9ca3af; /* dark:text-gray-400 */
  }
}

.card-input {
  /* Mimicking mt-2 p-2 border rounded w-full */
  margin-top: 0.5rem; /* mt-2 */
  padding: 0.5rem; /* p-2 */
  border: 1px solid #d1d5db; /* border */
  border-radius: 0.25rem; /* rounded */
  width: 100%; /* w-full */
  box-sizing: border-box; /* Ensure padding doesn't increase width */
}

.card-button {
  margin-top: 1rem; /* mt-4 */
  padding: 0.5rem 1rem; /* px-4 py-2 */
  background-color: #94c73d; /* mlab's light green color */
  color: white; /* text-white */
  border-radius: 0.25rem; /* rounded */
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.card-button:hover {
  background-color: #2563eb; /* hover:bg-blue-600 */
}
