.footer-container {
  padding: 10px 20px; /* some horizontal padding */
  background-color: #073f4e; /* bluegreen-ish background */
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  max-width: 1200px;
  margin: 0 auto;
  width: 100%; 
}

.footer-logo {
  height: 50px;
}

.footer-copyright {
  font-size: 15px; 
  color: #ffffff; 
  margin: 0;
}